@if (movie$ | async; as movie) {
  <section class="movie-detail">
    <img class="movie-poster" [src]="movie.Poster" [alt]="movie.Title">

    <div class="movie-info">
      <h2>Movie:</h2>

      <p><strong>Title:</strong> {{ movie.Title }}</p>
      <p><strong>Year:</strong> {{ movie.Year }}</p>
      <p><strong>Genre:</strong> {{ movie.Genre }}</p>
      <p><strong>Actors:</strong> {{ movie.Actors }}</p>

      <h3>Plot:</h3>
      <p>{{ movie.Plot }}</p>

      <button type="button" (click)="goBack()">Back</button>
    </div>
  </section>
} @else {
  <p>Movie not found.</p>

  <button type="button" (click)="goBack()">Back</button>
}
